.button {
    cursor: pointer;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: solid 2px yellow;
    background-color: black;
    color: yellow;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover {
    box-shadow: #3f3 5px 5px 5px;
}