            body {
                background-color: darkolivegreen;
            }
            
            a {
                color: wheat;
                display: block;
                transition: margin-right 2s, color 1s;
                font-size: 1.2rem;
                font-family: 'Courier New', 'Courier New', Courier, monospace;
                border: 1px solid;
                padding: 0.77rem;
                box-shadow: 5px 5px 5px 5px rgb(20, 30, 100);
                margin: 2rem;
            }
            
            h1 {
                font-size: 2rem;
                font-family: 'Courier New', 'Courier New', Courier, monospace;
                color: wheat;
            }
            
            p {
                font-size: 2rem;
                font-family: 'Courier New', 'Courier New', Courier, monospace;
                color: wheat;
            }
            /*Kärtli*/
            
            #friti {
                font-family: 'Courier New', Courier, monospace;
                background-color: orangered;
                padding: 1.2rem;
                /*Position auf Website*/
                top: 1000px;
                left: 1100px;
            }
            
            #samsti {
                font-family: 'Courier New', Courier, monospace;
                background-color: orange;
                padding: 1.2rem;
                top: 2000px;
                left: 900px;
            }
            
            #sunnti {
                font-family: 'Courier New', Courier, monospace;
                background-color: orangered;
                padding: 1.2rem;
                top: 3000px;
                left: 1100px;
            }
            
            #mänti {
                font-family: 'Courier New', Courier, monospace;
                background-color: orange;
                padding: 1.2rem;
                top: 4000px;
                left: 900px;
            }
            
            #dsisti {
                font-family: 'Courier New', Courier, monospace;
                background-color: orangered;
                padding: 1.2rem;
                top: 5000px;
                left: 1100px;
            }
            
            #midwuch {
                font-family: 'Courier New', Courier, monospace;
                background-color: orange;
                padding: 1.2rem;
                top: 6000px;
                left: 900px;
            }
            
            #donnsti {
                font-family: 'Courier New', Courier, monospace;
                background-color: orangered;
                padding: 1.2rem;
                top: 7000px;
                left: 1100px;
            }
            /*funktioniert nicht? friti im Menu oder auf Kärtli?*/
            
            #friti:visited {
                color: purple;
            }
            /*Hovers*/
            
            #friti:hover {
                color: rgb(20, 30, 100);
                transform: rotate(359deg) perspective(700px);
                transform-origin: center center;
            }
            
            #samsti:hover {
                color: rgb(20, 30, 100);
                transform: rotate(359deg) perspective(700px);
                transform-origin: center center;
            }
            
            #sunnti:hover {
                color: rgb(20, 30, 100);
                transform: rotate(359deg) perspective(700px);
                transform-origin: center center;
            }
            
            #mänti:hover {
                color: rgb(20, 30, 100);
                transform: rotate(359deg) perspective(700px);
                transform-origin: center center;
            }
            
            #dsisti:hover {
                color: rgb(20, 30, 100);
                transform: rotate(359deg) perspective(700px);
                transform-origin: center center;
            }
            
            #midwuch:hover {
                color: rgb(20, 30, 100);
                transform: rotate(359deg) perspective(700px);
                transform-origin: center center;
            }
            
            #donnsti:hover {
                color: rgb(20, 30, 100);
                transform: rotate(359deg) perspective(700px);
                transform-origin: center center;
            }
            
            #home:hover {
                color: rgb(20, 30, 100);
            }
            
            .menu {
                position: fixed;
                top: 100px;
                left: 50px;
                width: max-content;
            }
            
            .day {
                position: absolute;
                left: 350px;
                width: 350px;
                transition: all 2s;
            }
            
            html {
                scroll-behavior: smooth;
            }
            
            div:hover {
                mix-blend-mode: difference;
            }